@model WebApplication1.Models.BlogEntry
@{
    ViewBag.Title = Model.Title;   /*Tells our layout page what title to use.  */
}

@*1:14:57 viewbag.title gets spit out on our Layout.cshtml page, which is like our master page*@

<h1>@Model.Title</h1>

<p>@Model.Body</p>

<a href="/">Back to List</a> 